[core]
	quotepath = false
	editor = vim

[alias]
    s = status
	st = stash
    sc = switch
	ck = checkout
	b = branch
	logo = log --oneline
	cdiff = diff --cached
[user]
	name = tamago0224
	email = bigtreesasuke200733@gmail.com
